# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# If using MySQL
*.sql
*.sql.gz

# Media and uploaded files
/media/
*.media/


# Local environment settings
/local_settings.py

# Secrets and private keys
.env

# Node modules (if using npm or yarn)
node_modules/

# Coverage reports
htmlcov/
.coverage
*.cover
coverage.xml

# Testing
.cache/
.nox/
.pytest_cache/
.tox/
*.spec

# IDEs
.idea/
.vscode/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Logs
*.log

# Profiling data
.prof
